.FilterBar {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: flex-end;
  height: 55px;
  z-index: 10;
  background: white;
  align-items: baseline;
}

.FilterBar span {
  cursor: pointer;
  margin: 0 10px;
}

.FilterBar span i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  box-sizing: border-box;
  top: -3px;
  position: relative;
  margin-left: 3px;
}

.FilterOpen {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  /* height: 50px; */
  justify-content: flex-start;
  transform: translateX(0);
  transform: translateY(0);
  transition: 0.3s ease-in-out;

  flex-direction: column;
  align-items: flex-end;
  height: 200px;
}

.FilterClosed {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  height: 0;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;

  flex-direction: column;
  align-items: flex-end;
  /* height: 200px; */
  opacity: 0;
}

.Clear {
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: auto;
  padding: 7.5px 15px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
}

.Clear:hover {
  background-color: rgb(167, 161, 161);
  color: white;
  border: 1px solid white;
}

@media(min-width: 720px) {
  .FilterOpen {
    height: 50px;
    justify-content: flex-start;
    transform: translateY(0);
    transform: translateX(0);
    flex-direction: row;
    align-items: flex-start;
  }

  .FilterClosed {
    transform: translateY(-50px);
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    opacity: 0;
  }
}