.NavItem {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavItem a {
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavItem a:hover,
.NavItem a.active {
  color: #40a4c8;
}

@media(min-width: 700px) { /* desktop */

  .NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavItem a {
    color: black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavItem a:hover,
  .NavItem a:active,
  .NavItem a.active {
    border-bottom: 4px solid #40a4c8;
    color: black;
  }

}